# Ignore all go binaries
bin/
main

# Ignore script draft folder
draft/

# Ignore processed folder
processed/

# Ignore sgsn folder
sgsn/

# Ignore ggsn folder
ggsn/

# Ignore sample data folder
sample/
